#!/bin/bash
# Script that deletes any new epics module release not created by jenkins


while true
do
  for path in $(find {{EPICS_MODULES_DIR}} -maxdepth 2 -mindepth 2 -type d -regextype posix-extended -regex '.*/[0-9]+(\.[0-9]+){0,2}(\-[0-9A-Za-z\.\-]+)?(\+[0-9A-Za-z\.\-]+)?' -mtime 0)
  do
    owner=$(stat -c '%U' $path)
    if [[ "${owner}" != "{{JENKINS_USER}}" ]]
    then
      owner_id=$(stat -c '%u' $path)
      change=$(stat -c '%z' $path)
      echo "$(date +%Y%m%d-%H:%M) : Removing ${path} created by ${owner}/${owner_id} at ${change}"
      rm -rf ${path}
    fi
  done
  sleep 5
done
